.custom-image-checkbox {
  input[type="checkbox"] {
    display: none;

    & + label {
      box-shadow: 0 0 0 4px $input-border-color;
      -moz-box-shadow: 0 0 0 4px $input-border-color;
      -webkit-box-shadow: 0 0 0 4px $input-border-color;

      & > span {
        display: none;
      }
    }

    &:checked + label {
      box-shadow: 0 0 0 4px $primary;
      -moz-box-shadow: 0 0 0 4px $primary;
      -webkit-box-shadow: 0 0 0 4px $primary;

      & > img {
        filter: brightness(50%);
      }

      & > span {
        display: block;
        height: 0;
        left: 20px;
        transform: translate(0,-75px);
        font-size: 3.3em;
        color: #fff;
        text-shadow: 1px 1px;
      }
    }
  }
}
